.env
.vscode
.idea
.pytest_cache
__pycache__
.DS_Store
node_modules
dist
build
*.egg-info
*.log
*.env
*.pem
*.key
*.crt
.env.development.local
.env.test.local
.env.production.local
.env.local
../config.json
./config.json
